<%= form_for(@artist) do |a| %>
    <label>Artist Name: </label>
    <%= text_field_tag :'artist[name]' %>
    <label>Artist Bio: </label>
    <%= text_field_tag :'artist[bio]' %>

    <%= a.submit %>
<% end %>